<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Namaste Nirvana</title>
    <link rel="icon" href="./images/logo.png">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Paytone+One&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">   
</head>
<body>
    <div class="banner">
        <video src="/videos/ps2.mp4" type="video/mp4" autoplay muted loop></video>
    
    <!-- Header -->

    <div class="content" id="home"> 
        <nav class="navbar navbar-expand-lg navbar-light">
            <img src="/images/logo.png" class="logo" alt="Logo" title="FirstFlight Travels">
            
            <ul class="navbar">
                <li>
                    <a href="#home">Home</a>
                    <a href="#locations">Locations</a>
                    <a href="#package">Packages</a>
                    <a href="./about">About Us</a>
                    <a href="./contact">Contact Us</a>
                </li>
            </ul>
        </nav>
 
        <div class="title">
            <h1>NAMASTE NIRVANA</h1>
            <p>"Cultivate Inner Peace, Explore Namaste Nirvana"</p>
            <a href="./register" class="button">Register Now!</a>
        </div>
        </div>
    </div>

<!-- Services -->

<section class="container">
    <div class="text">
        <h2>We have the best services available for you!</h2>
    </div>
    <div class="rowitems">
        <div class="container-box">
            <div class="container-image">
                <a href="./health"><img src="/images/R.png" alt="Health services"></a>
            </div>
            <h4>Medical Services</h4>
            <p>All type Facilities</p>
        </div>
        <div class="container-box">
            <div class="container-image">
                <a href="https://www.google.co.in/maps/search/near+by+visiting+and+tourist+places"><img src="/images/R1.png" alt="Health services"></a>
            </div>
            <h4>Near By Tourist Places</h4>
            <p>All types Places Available</p>
        </div>

        <div class="container-box">
            <div class="container-image">
                <a href="./food"><img src="/images/2a.jpg" alt="Food Services"></a>
            </div>
            <h4>Food Services</h4>
            <p>Catering</p>
        </div>

        <div class="container-box">
            <div class="container-image">
                <a href="./travel"><img src="/images/3a.jpg" alt="Travel Services"></a>
            </div>
            <h4>Travel Services</h4>
            <p>Pick-up/drop</p>
        </div>

        <div class="container-box">
            <div class="container-image">
                <a href="./hotel"><img src="/images/4a.jpg" alt="Hotel Services"></a>
            </div>
            <h4>Hotel Services</h4>
            <p>Check-in/out</p>
        </div>
        <div class="container-box">
            <div class="container-image">
                <a href="./offlinemap"><img src="/images/offline.jpeg" alt="offline map"></a>
            </div>
            <h4>Offline Maps</h4>
            <p>Only for India</p>
        </div>
        <div class="container-box">
            <div class="container-image">
                <a href="./tour"><img src="/images/th.jpeg" alt="tour"></a>
            </div>
            <h4>Tour Guides</h4>
            <p>Only for India</p>
        </div>
    </div>
</section>


<!-- Locations -->

<section class="locations" id="locations">
    <div class="package-title">
        <h2>Locations</h2>
    </div>

    <div class="location-content">
        <a href="./locations#kashmir">
            <div class="col-content">
                <img src="/images/l1.jpg" alt="kashmir">
                <h5>Kashmir</h5>
                <p>Jamu</p>
            </div>
        </a>

        <a href="./locations#Puri">
            <div class="col-content">
                <img src="/images/puri.jpg" alt="Puri">
                <h5>Puri</h5>
                <p>Odisha</p>
            </div>
        </a>

        <a href="./locations#Sridi">
            <div class="col-content">
                <img src="/images/Mp.shirdi.jpg" alt="Sridi">
                <h5>Sridi</h5>
                <p>Maharastra</p>
            </div>
        </a>

        <a href="./locations#Varanasi">
            <div class="col-content">
                <img src="/images/up.varanasi (Custom).jpg" alt="Varanasi">
                <h5>Baranasi</h5>
                <p>UP</p>
            </div>
        </a>

        <a href="./locations#Mumbai">
            <div class="col-content">
                <img src="/images/mumbai1.jpg" alt="Mumbai">
                <h5>Mumbai</h5>
                <p>Maharastra</p>
                </div>
        </a>

        <a href="./locations#Sikim">
            <div class="col-content">
                <img src="/images/l6.jpg" alt="Sikim">
                <h5>Sikim</h5>
                <p>Arunnchal Pradesh</p>
            </div>
        </a>

        <a href="./locations#Tirupati">
            <div class="col-content">
                <img src="/images/tirupati.jpg" alt="Tirupati">
                <h5>Tirupati</h5>
                <p>Andhra Pradesh</p>
                
            </div>
        </a>

        <a href="./locations#Similipal">
            <div class="col-content">
                <img src="/images/l8.jpg" alt="Similipal">
                <h5>Similipal</h5>
                <p>Mayurbhanja</p>
            </div>
        </a>
    </div>
</section>
<!-- Packages -->

<section class="package" id="package">
    <div class="package-title">
        <h2>Packages</h2>
    </div>

    <div class="package-content">
        
        <div class="box">
            <div class="image">
                <img src="/images/p1.jpg" alt="">
                <h3>Rs.9,999/-</h3>
            </div>
        
        <div class="dest-content">
            <div class="location">
                <h4>Bronze</h4>
                <ul class="pac-details">
                    <li>2 Star Hotel</li>
                    <li>5 Nights Stay</li>
                    <li>Free photo Session</li>
                    <li>Friendly Tour Guide</li>
                    <li>24/7 Customer Help Center</li>
                </ul>
            </div>
        </div>
        </div>
        
        <div class="box">
            <div class="image">
                <img src="/images/p2.jpg" alt="">
                <h3>Rs.19,999/-</h3>
            </div>
        
        <div class="dest-content">
            <div class="location">
                <h4>Silver</h4>
                <ul class="pac-details">
                    <li>3 Star Hotel</li>
                    <li>7 Nights Stay</li>
                    <li>Free photo Session</li>
                    <li>Friendly Tour Guide</li>
                    <li>24/7 Customer Help Center</li>
                </ul>
            </div>
        </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="/images/p3.jpg" alt="">
                <h3>Rs.29,999/-</h3>
            </div>
        
        <div class="dest-content">
            <div class="location">
                <h4>Gold</h4>
                <ul class="pac-details">
                    <li>4 Star Hotel</li>
                    <li>10 Nights Stay</li>
                    <li>Breakfast and Dinner</li>
                    <li>Free photo Session</li>
                    <li>Friendly Tour Guide</li>
                    <li>24/7 Customer Help Center</li>
                </ul>
            </div>
        </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="/images/p4.jpg" alt="">
                <h3>Rs.39,999/-</h3>
            </div>
        
        <div class="dest-content">
            <div class="location">
                <h4>Platinum</h4>
                <ul class="pac-details">
                    <li>5 Star Hotel</li>
                    <li>14 Nights Stay</li>
                    <li>Breakfast, Lunch and Dinner</li>
                    <li>Bornfire</li>
                    <li>Free photo Session</li>
                    <li>Friendly Tour Guide</li>
                    <li>24/7 Customer Help Center</li>
                </ul>
            </div>
        </div>
        </div>

    </div>

</section>

<!-- Newsletter -->

<section class="newsletter">
    <div class="newstext">
        <h2>Newsletter</h2>
        <p>Subscribe to get offers and latest<br>updates every week!</p>
    </div>

    <div class="send">
        <form action="">
            <input type="email" name="emailid" placeholder="E-mail" required>
            <input type="submit" value="Subscribe">
        </form>
    </div>

</section>

<!-- Footer -->

<section class="footer">
    <div class="foot">
        <div class="footer-content">
            
            <div class="footlinks">
                <h4>Quick Links</h4>
                <ul>
                    <li><a href="/register">Register</a></li>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                    <li><a href="/policy">Refund Policy</a></li>
                    <li><a href="/review">Reviews</a></li>
                </ul>
            </div>

            <div class="footlinks">
                <h4>Connect</h4>
                <div class="social">
                    <a href="#" target="_blank"><i class='bx bxl-facebook'></i></a>
                    <a href="#" target="_blank"><i class='bx bxl-instagram' ></i></a>
                    <a href="#" target="_blank"><i class='bx bxl-twitter' ></i></a>
                    <a href="#" target="_blank"><i class='bx bxl-linkedin' ></i></a>
                    <a href="#" target="_blank"><i class='bx bxl-youtube' ></i></a>
                    <a href="#" target="_blank"><i class='bx bxl-wordpress' ></i></a>
                    <a href="#" target="_blank"><i class='bx bxl-github'></i></a> 

                </div>
                <pre style="color: white;">

                    Contact:-7205972033
                    Email-rama@giet.edu
                    Address-Giet University,Gunpur
                            Pin-765022
                </pre>
            </div>
            
        </div>
    </div>

    <div class="end">
        <p>Copyright © 2022 Mr Traveller All Rights Reserved.<br>Website developed by:Mr Devlopers,GIETU</p>
    </div>
</section>
</body>
</html>