<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Destinations</title>
    <link rel="icon" href="./images/logo.png">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Paytone+One&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet"href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <style>
        a{
            color: aliceblue;
            text-decoration: none;
            text-transform:uppercase;
        }
        .tour{
            display: inline-block;
    background-color: #451952;
    font-size: 27px;
    font-weight: 600px;
    border: 2px solid transparent;
    border-radius: 60px;
    width: 220px;
    cursor: pointer;
    transition: ease 0.30s;
    padding-left: 10px;
        }
    .tour:hover{
        border: 2px solid #451952;
    background-color: transparent;
    transform: scale(1.1);
    }
    </style>
</head>
<body class="location-body">
    <nav>
        <img src="./images/logo.png" class="logo" alt="Logo" title="FirstFlight Travels">

        <ul class="navbar">
            <li>
                <a href="./home">Home</a>
                <a href="./home#locations">Locations</a>
                <a href="./home#package">Packages</a>
                <a href="./about">About Us</a>
                <a href="./contact">Contact Us</a>
            </li>
        </ul>
    </nav>
<section class="location-section">
    <div class="location-heading">
        <h1>Discover The <span>Beautiful World</span></h1>
    </div>
 <div class="location-detail" id="kashmir">
    <h1>Kashmir</h1>
    <div class="stars">
        <a href="#"><i class='bx bxs-star'></i></a>
        <a href="#"><i class='bx bxs-star'></i></a>
        <a href="#"><i class='bx bxs-star'></i></a>
        <a href="#"><i class='bx bxs-star'></i></a>
        <a href="#"><i class='bx bxs-star'></i></a>
    </div>
    <p>Heaven on Earth Kashmir is one of the most beautiful travel destinations to visit in North India. Nowhere in India you will behold the scenic landscapes, icy glaciers, pristine lakes and lofty mountains as beautiful as Kashmir. Serenity and Tranquility redefines itself from the ambiance of Kashmir. Be it summer, Winter or Monsoon, every season has its own charm in Kashmir. The numerous wonders of nature, culture, cuisines and rich history of Kashmir will elevate your travel experience in Incredible India.</p>
    <p>Crowd Percentage: 73%</p>
    <p>Recommaned month:[feb,nov,dec]</p>
    <a href="#" class="tour">Take a Vr Tour</a>
    <img width="64" height="64" src="https://img.icons8.com/nolan/64/virtual-reality.png" alt="virtual-reality"/>
    <div class="location-img">
        <img src="./images/t1.jpg" alt="">
    </div>
 </div>

 <div class="location-detail" id="Puri">
    <h1>Puri</h1>
    <div class="stars">
        <a href="#"><i class='bx bxs-star'></i></a>
        <a href="#"><i class='bx bxs-star'></i></a>
        <a href="#"><i class='bx bxs-star'></i></a>
        <a href="#"><i class='bx bxs-star'></i></a>
        <a href="#"><i class='bx bxs-star-half'></i></a>
    </div>
<p>Puri, a coastal town in Odisha, India, is renowned for its iconic Jagannath Temple, a Hindu pilgrimage site, and its annual Rath Yatra festival. Visitors can relax on the beautiful Puri Beach, explore the architectural marvel of the Konark Sun Temple nearby, and witness the vibrant culture at events like the Puri Sea Beach Festival and Puri Beach Festival. Chilika Lake, Asia's largest coastal lagoon, is a short drive away, offering birdwatching and boat rides. Don't miss the opportunity to savor delicious Odia cuisine,</p> 
   <p>Crowd Percentage: 89%</p>
    <p>Recommaned month[jan,mar,sept]</p>
    <a href="#" class="tour">Take a vr tour</a>
    <img width="64" height="64" src="https://img.icons8.com/nolan/64/virtual-reality.png" alt="virtual-reality"/>
    <div class="location-img">
        <img src="./images/puri.jpg" alt="puri imgg">
        
    </div>
 </div>

 <div class="location-detail" id="Siridi">
    <h1>Siridi</h1>
    <div class="stars">
        <a href="#"><i class='bx bxs-star'></i></a>
        <a href="#"><i class='bx bxs-star'></i></a>
        <a href="#"><i class='bx bxs-star'></i></a>
        <a href="#"><i class='bx bxs-star'></i></a>
        <a href="#"><i class='bx bxs-star-half'></i></a>
    </div>
<p>Shirdi is one of the most popular places of pilgrimage in India. 
    The Sai Baba Samadhi Mandir, the shrine of Sai Baba, is the heart of the town's economy. 
    The temple is a popular pilgrimage site for tourists and devotees, with thousands of visitors each day. 
    The temple holds Sai Baba's earthly remains, items he used, and other possessions.</p>
    <p>Crowd Percentage: 67%</p>
    <p>Recommaned month[feb,nov,jan]</p>
    <a href="#" class="tour">Take a Vr Tour</a>
    <img width="64" height="64" src="https://img.icons8.com/nolan/64/virtual-reality.png" alt="virtual-reality"/>
    <div class="location-img">
        <img src="./images/Mp.shirdi.jpg" alt="Siridi">
    </div>
 </div>

 <div class="location-detail" id="Varanasi">
    <h1>Varanasi</h1>
    <div class="stars">
        <a href="#"><i class='bx bxs-star'></i></a>
        <a href="#"><i class='bx bxs-star'></i></a>
        <a href="#"><i class='bx bxs-star'></i></a>
        <a href="#"><i class='bx bxs-star'></i></a>
        <a href="#"><i class='bx bxs-star-half'></i></a>
    </div>
<p>Varanasi, also known as Kashi or Banaras, is one of the oldest continuously inhabited cities in the world.The city is located on the banks of the Ganges River, and is one of the most revered religious destinations in India. 
    Hindus consider Varanasi to be their holiest city.</p>
    <p>Crowd Percentage: 44%</p>
    <p>Recommaned month[feb,sept,aug]</p>
    <a href="#" class="tour">Take a Vr Tour</a>
    <img width="64" height="64" src="https://img.icons8.com/nolan/64/virtual-reality.png" alt="virtual-reality"/>
    <div class="location-img">
        <img src="./images/up.varanasi (Custom).jpg" alt="">
    </div>
 </div>

 <div class="location-detail" id="Mumbai">
    <h1>Mumbai</h1>
    <div class="stars">
        <a href="#"><i class='bx bxs-star'></i></a>
        <a href="#"><i class='bx bxs-star'></i></a>
        <a href="#"><i class='bx bxs-star'></i></a>
        <a href="#"><i class='bx bxs-star'></i></a>
        <a href="#"><i class='bx bxs-star'></i></a>
    </div>
<p>Mumbai, formerly known as Bombay, is the capital of the Indian state of Maharashtra.Mumbai is located on the Konkan coast on the west coast of India. It has a deep natural harbor and is the country's principal port on the Arabian Sea. Mumbai is one of the largest and most densely populated urban areas in the world.</p>
    <p>Crowd Percentage: 64%</p>
    <p>Recommaned month[mar,may,dec]</p>
    <a href="#" class="tour">Take a Vr Tour</a>
    <img width="64" height="64" src="https://img.icons8.com/nolan/64/virtual-reality.png" alt="virtual-reality"/>
    <div class="location-img">
        <img src="./images/mumbai1.jpg" alt="">
    </div>
 </div>

 <div class="location-detail" id="Sikkim">
    <h1>Sikkim</h1>
    <div class="stars">
        <a href="#"><i class='bx bxs-star'></i></a>
        <a href="#"><i class='bx bxs-star'></i></a>
        <a href="#"><i class='bx bxs-star'></i></a>
        <a href="#"><i class='bx bxs-star-half'></i></a>
    </div>
<p>Sikkim is a small state in the northeastern part of India. It's known for its scenic beauty and cultural diversity. The state's economy is based on agriculture, tourism, and hydroelectric power. 
    Sikkim is located in the Himalayas. It's the second least populated state in India</p>
    <p>Crowd Percentage: 20%</p>
    <p>Recommaned month[dec,jul,sept]</p>
    <a href="#" class="tour">Take a Vr Tour</a>
    <img width="64" height="64" src="https://img.icons8.com/nolan/64/virtual-reality.png" alt="virtual-reality"/>
    <div class="location-img">
        <img src="./images/l6.jpg" alt="">
    </div>
 </div>
 <div class="location-detail" id="Tirupati">
    <h1>Tirupati</h1>
    <div class="stars">
        <a href="#"><i class='bx bxs-star'></i></a>
        <a href="#"><i class='bx bxs-star'></i></a>
        <a href="#"><i class='bx bxs-star'></i></a>
        <a href="#"><i class='bx bxs-star'></i></a>
        <a href="#"><i class='bx bxs-star-half'></i></a>
    </div>
<p>Andhra Pradesh, located in southeastern India, is a culturally rich state celebrated for its historical significance, vibrant traditions, and diverse landscapes. It's home to iconic temples such as Tirupati Balaji and boasts a spicy and flavorful cuisine. The state's natural beauty includes lush hills, picturesque valleys, and beautiful beaches along the Bay of Bengal.</p>
    <p>Crowd Percentage: 50%</p>
    <p>Recommaned month[feb,jan,june]</p>
    <a href="#"class="tour" >Take a Vr Tour</a>
    <img width="64" height="64" src="https://img.icons8.com/nolan/64/virtual-reality.png" alt="virtual-reality"/>
    <div class="location-img">
        <img src="./images/tirupati.jpg" alt="">
    </div>
 </div>

 <div class="location-detail" id="Similipal">
    <h1>Similipal</h1>
    <div class="stars">
        <a href="#"><i class='bx bxs-star'></i></a>
        <a href="#"><i class='bx bxs-star'></i></a>
        <a href="#"><i class='bx bxs-star'></i></a>
        <a href="#"><i class='bx bxs-star'></i></a>
    </div>
<p>Similipal National Park is a tiger reserve and wildlife sanctuary in the Mayurbhanj district of Odisha, India. 
    The park is named after the red silk cotton trees that grow in the area.The park is part of the Mayurbhanj Elephant Reserve, which includes three protected areas. It has been part of the UNESCO World Network of Biosphere Reserves since 2009.</p>
    <p>Crowd Percentage: 30%</p>
    <p>Recommaned month[jan,oct,may]</p>
    <a href="#" class="tour">Take a Vr Tour</a>
    <img width="64" height="64" src="https://img.icons8.com/nolan/64/virtual-reality.png" alt="virtual-reality"/>
    <div class="location-img">
        <img src="./images/l8.jpg" alt="">
    </div>
 </div>
 <a href="./register" class="button">Register Now!</a>
    </section>
    
    <!-- Footer -->

<section class="footer">
    <div class="foot">
        <div class="footer-content">
            
            <div class="footlinks">
                <h4>Quick Links</h4>
                <ul>
                    <li><a href="./register">Register</a></li>
                    <li><a href="./about">About Us</a></li>
                    <li><a href="./contact">Contact Us</a></li>
                </ul>
            </div>

            <div class="footlinks">
                <h4>Connect</h4>
                <div class="social">
                    <a href="#" target="_blank"><i class='bx bxl-facebook'></i></a>
                    <a href="#" target="_blank"><i class='bx bxl-instagram' ></i></a>
                    <a href="#" target="_blank"><i class='bx bxl-twitter' ></i></a>
                    <a href="#" target="_blank"><i class='bx bxl-linkedin' ></i></a>
                    <a href="#" target="_blank"><i class='bx bxl-youtube' ></i></a>
                    <a href="#" target="_blank"><i class='bx bxl-wordpress' ></i></a>
                    <a href="#" target="_blank"><i class='bx bxl-github'></i></a>
                </div>
            </div>
            
        </div>
    </div>

    <div class="end">
        <p>Copyright © 2022 Mr Traveller All Rights Reserved.<br>Website developed by: Mr Devlopers,GIETU</p>
    </div>
</section>

</body>
</html>
