<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Success</title>
    <link rel="icon" href="./images/logo.png">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
    <div class="min-h-screen flex items-center justify-center">
        <div class="bg-white p-8 rounded-lg shadow-md text-center">
            <h1 class="text-2xl font-semibold mb-4">Thank You!</h1>
            <p class="text-gray-600">Thank you for Contacting. You will be redirected to the home page in <span id="countdown">5</span> seconds.</p>
        </div>
    </div>

    <!-- JavaScript to redirect after 5 seconds -->
    <script>
        const countdownElement = document.getElementById('countdown');
        let countdown = 5;

        const countdownInterval = setInterval(() => {
            countdown--;
            countdownElement.textContent = countdown;

            if (countdown === 0) {
                clearInterval(countdownInterval);
                window.location.href = './home';
            }
        }, 1000);
    </script>
</body>
</html>
